name: Mocha Tests
on:
  pull_request:
    branches:
      - 'main'
  workflow_dispatch:
  
jobs:
  test-runner:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4.5.0
      - name: Run Tests
        uses: actions/checkout@v3.3.0
      - name: Install Dependencies
        run: |
          npm install
      - name: Run  Tests
        run: |
          npm run test
    
